<div class = "header">
  <h1>The convenient & fast way to get things done around the house </h1>
</div>

<div class= "subheader">
  <h3>Choose from over 60,000 carefully vetted and feedback rated Taskers to get quick help</h3>
</div>

<%@categories.each do |c| %>
<button><%= c.task_type%></button>
<% end %>

<h5><%= link_to "New Category", catagory_new_path%></h5>
